@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500&family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E6EFFF;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
}

header {
    /* position: fixed; */
    top: 0;
    left:0;
    right: 0;
    /* cor da barra de navegacao e dos quadrados */
    background: #110E2D;
    /* cor que vao ficar as opcoes dos quadrados quando clicar */
    box-shadow: 0 5px 10px black;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-family:'Gemunu Libre', sans-serif;
    font-size: 35px;
    color: #fff;
}

header .navbar ul {
    font-family: 'Gemunu Libre', sans-serif;
    list-style: none;       
}

header .navbar ul li {
   position: relative;
   float: left;
}

header .navbar ul li a {
    font-size: 25px; 
    padding: 25px;
    color: #fff; 
    display:block;  
    transition: all 0.5s ease-in-out;   
}

header .navbar ul li a:hover {
    background: #110E2D;
    color: #fff; 
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width:200px ;
    background: #110E2D;
    display:none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid white;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;  
}

#menu-bar {
	display: none;
}

header label {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    display: none;
}

#wally {
    width: 100px ;
    right:100px ;
    margin-left: 5%;
    margin-top: 3%;     
}

#nome_wally {
    margin-left: 45%;
    margin-top: -40%; 
}

#complemento_wally {
    margin-left: 45%;
    margin-top:-30%;       
}

#imagem_som img{
    height: 900px;
    width: 1350px;
    margin-top: -10%;
}

#pergunta{
    margin-top: -45%;       
}

#pergunta h1{
    font-family:'Gemunu Libre', sans-serif;
    font-size: 80px;
    color:#538EFA;
    text-shadow: #538EFA 0.1em 0.1em 0.2em;
    margin-left: 15%;

}

#pergunta h2{
    font-family:'Gemunu Libre', sans-serif;
    font-size: 82px;
    color:#538EFA;
    text-shadow: #538EFA 0.1em 0.1em 0.2em;
    margin-left: 17%;
}

#sobre{
    margin-top:2%;    
}

#sobre h1{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 45px;
    color:#538EFA;
    margin-left:10%;
    margin-right:7%;
    text-shadow: #538EFA 0.1em 0.1em 0.2em;     
}

#sobre h2{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 45px;
    color:#538EFA;
    margin-left:14%;
    margin-right:7%;
    text-shadow: #538EFA 0.1em 0.1em 0.2em;             
}

#sobre2 h1{
    font-family: 'Gemunu Libre';
    font-size: 65px;
    color:#110E2D;
    text-shadow: #110E2D 0.1em 0.1em 0.2em;
    margin-left: 5%;
    margin-top: 15%;   
}

#sobre2 li{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #110E2D;
    margin-left: 8%;
    margin-top: 30px;
    cursor: pointer;     
}

#criadores{
    font-family: 'Gemunu Libre';
    font-size: 45px;
    color:#110E2D;
    text-shadow: #110E2D 0.1em 0.1em 0.2em;
    margin-left: 5%;
    margin-top: 15%;   
}

#gabriel h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
    margin-top: 20%;
}

#gabriel img {
    width: 400px;
    height: 500px;
    margin-left: 10%;
    margin-top: 5%;
    filter: drop-shadow(10px 10px 10px #110E2D);
}

#gabriel p {
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    color:#110E2D;
    margin-left: 45%;
    margin-right: 5%;
    margin-top:-25%;
}

#greyce h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
    text-shadow: #110E2D 0.1em 0.1em 0.2em;
    margin-top: 20%;
}

#greyce img {
    width: 400px;
    height: 500px;
    margin-left: 10%;
    margin-top: 5%;
    filter: drop-shadow(10px 10px 10px #110E2D);
}

#greyce p {
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    color:#110E2D;
    margin-left: 45%;
    margin-right: 5%;
    margin-top:-25%;
}

#julius h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
    text-shadow: #110E2D 0.1em 0.1em 0.2em;
    margin-top:26%;
}

#julius img {
    width: 400px;
    height: 500px;
    margin-left: 10%;
    margin-top: 5%;
    filter: drop-shadow(10px 10px 10px #110E2D);
}

#julius p {
    font-family: 'Roboto', sans-serif; 
    font-size: 17px;
    color:#110E2D;
    margin-left: 45%;
    margin-right: 5%;
    margin-top:-33%;
}

#patrique h1 {
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
    text-shadow: #110E2D 0.1em 0.1em 0.2em;
    margin-top: 14%;
}    

#patrique img {
    width: 400px;
    height: 500px;
    margin-left: 10%;
    margin-top: 5%;
    filter: drop-shadow(10px 10px 10px #110E2D);
}
 
#patrique p {
   	font-family: 'Roboto', sans-serif; 
   	font-size: 25px;
   	color:#110E2D;
    margin-left: 45%;
    margin-right: 5%;
    margin-top:-25%;
}

#retangulo{
    width:1350px;
    height: 25vh;
    background: #110E2D;
    margin-top:150%;
}

#retangulo img{
    height: 50%;
    right: 50%;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 5%;
    margin-bottom:100px ;
   
}


@media (max-width:991px){
    header{
        padding: 20px;    
    }

    header label{
       display: initial; 
    }
    
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #110E2D;
        border-top: 1px solid #fff;
        display: none;
    }
    
    header .navbar ul li{
        width:100%;
    }
    
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
        
    header .navbar ul li ul li{
        background-color: #fff;
        color:#110E2D
    }

    #menu-bar:checked ~ .navbar{
        display: initial;            
    }
    
    #gabriel h1{
        font-family: 'Roboto', sans-serif;
    }
}