@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Roboto:wght@300&display=swap');

body {
    background-color: #E6EFFF;
}

.barra_de_navegacao{
    font-family: 'Gemunu Libre', sans-serif ;  
    font-size:30px;
    color:#110E2D;
    list-style:none;
    float:left;
}

.barra_de_navegacao li{
    position:relative;
    float:left;
    margin-right: 200px;
}

.barra_de_navegacao li a{color:#110E2D; text-decoration:none; padding:5px 10px; display:block;}

.barra_de_navegacao li a:hover{
    background:#B2C9F4;
    color:#110E2D;
    text-shadow:0px 0px 5px #fff;
}

.barra_de_navegacao li  ul{
    position:absolute;
    left:0;
    background-color:#B2C9F4;
    display:none;
}

.barra_de_navegacao li:hover ul, .menu li.over ul{display:block;}

.barra_de_navegacao li ul li{
    display:block;
    width:150px;
}
/* ajustes na imagem do wally */
#wally img{
    width: 300px;
    height:300px;        
}

#sessao2 {
    color: #110E2D;
}

#sessao2{
    
}

#gabriel h1 {
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 60px;
    color:#110E2D;
}

#gabriel img {

}

#gabriel p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#greyce h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
}

#greyce img {
    width: 50px;
    height: 50px;
    margin-left:170px ;
    border-radius: 10px;
}

#greyce p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#julius h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
}

#julius img {

}

#julius p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#patrique h1{
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 60px;
    color:#110E2D;
}    

#patrique img {
    width:600px;
    height:1000px;
    margin-left:170px ;
    border-radius: 100px;
}
 
#patrique p{
   font-family: 'Roboto', sans-serif; 
   font-size: 25px;
   color:#110E2D;
   margin-left: 300px;
    margin-right:300px ;
}