@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E6EFFF;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
}

header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    /* cor da barra de navegacao e dos quadrados */
    background: #110E2D;
    /* cor que vao ficar as opcoes dos quadrados quando clicar */
    box-shadow: 0 5px 10px #fff;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-family:'Gemunu Libre';
    font-size: 25px;
    color: #fff;
}

header .navbar ul{
    font-family: 'Roboto';
    list-style: none;        
}

header .navbar ul li{
   position: relative;
   float: left;
}

header .navbar ul li a{
    font-size: 20px; 
    padding: 20px;
    color: #fff; 
    display:block;     
}

header .navbar ul li a:hover{
    background: #110E2D;
    color: #fff; 
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width:200px ;
    background: #110E2D;
    display:none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;  
}

#menu-bar {
	display: none;
}

header label{
    font-family: 'Gemunu Libre';
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    display: none;
}

#gabriel h1 {
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
}

#gabriel img {
    width:600px;
    height:1000px;
    margin-left:100px ;
}

#gabriel p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#greyce h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
}

#greyce img {
    width:600px;
    height:1000px;
    margin-left:50px ;
    border-radius: 100px;
}

#greyce p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#julius h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
}

#julius img {
    width:600px;
    height:1000px;
    margin-left:100px ;
}

#julius p {
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    color:#110E2D;
}

#patrique h1{
    font-family: 'Gemunu Libre', sans-serif; 
    font-size: 60px;
    color:#110E2D;
	margin-left: 100px;
}    

#patrique img {
    width:600px;
    height:1000px;
    margin-left:100px ;
    border-radius: 100px;
}
 
#patrique p{
   	font-family: 'Roboto', sans-serif; 
   	font-size: 25px;
   	color:#110E2D;
   	margin-left: 300px;
	margin-right:300px ;
}


@media (max-width:991px){
    header{
        padding: 20px;    
    }

    header label{
       display: initial; 
    }
    
    header .navbar{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background: #110E2D;
        border-top: 1px solid #fff;
        display: none;
    }
    
    header .navbar ul li{
        width:100%;
    }
    
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
        
    header .navbar ul li ul li{
        background-color: #fff;
        color:#110E2D
    }

    #menu-bar:checked ~ .navbar{
        display: initial;            
    }

}